* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Tahoma, sans-serif;
  background-color: #f5f5f5;
  color: #181717;
  line-height: 1.6;
}

.privacy-container {
  max-width: 800px;
  margin: 50px auto;
  padding: 30px;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0 0 8px rgba(0, 128, 0, 0.1);
  border: 5px solid lightgreen;
}

h1 {
  text-align: center;
  color: lightgreen;
  margin-bottom: 10px;
}

.issued-date {
  text-align: center;
  font-style: italic;
  margin-bottom: 30px;
  color: #666;
}


.privacy-list {
  list-style-type: disc;
  padding-left: 20px;
  margin-bottom: 30px;
}

.privacy-list li {
  margin-bottom: 20px;
  padding-left: 10px;
}


.back-button {
  text-align: center;
  margin-top: 20px;
}

.back-button a {
  text-decoration: none;
  background-color: white;
  color: lightgreen;
  border: 2px solid lightgreen;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 40px;
  transition: all 0.3s ease-in-out;
}

.back-button a:hover {
  background-color: lightgreen;
  color: white;
}


@media (max-width: 600px) {
  .privacy-container {
    margin: 20px;
    padding: 20px;
  }

  .privacy-list {
    font-size: 15px;
  }

  .back-button a {
    font-size: 14px;
    padding: 8px 16px;
  }
}
